<div class="jumbotron" style="box-shadow: 0.5px 0.5px 5px #888888;">
  <h1 style="text-align:center;">Bienvenue sur <span class="lobster_logo">Zirta</span>!</h1>
	<div style="width:500px; padding-top: 10px;" class="container">
		<button type="button" class="btn btn-primary btn-lg btn-block">Connectez-vous!</button>
		<button type="button" class="btn btn-default btn-lg btn-block">Inscrivez-vous!</button>
	</div>
	<br/>
	<p style="text-align: center;"> En cours de construction... </p>
</div>

